#login1{
    background-color: green;
    color: white;
    margin-top: 15px;
    width: 280px;
    height: 35px;
}
#login1:hover{
    background-color: chartreuse;
}
tr:hover{background-color: yellow;}
